.contribute {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column-reverse;

    h2 {
        padding: 50px 0;
    }

    .intro {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 50px;

        p, article {
            padding: 10px;
            text-align: left;
        }

        .tips {
            margin: 10px 0;
            h4, p {
                display: inline;
            }

            h4 {
                color: $yellow;
            }
        }

        

    }

    form {
        font-size: 1.6rem;
        position: relative;

        textarea, button, input[type="text"] {
            margin: 15px 0;
        }

        textarea {
            height: 150px;
            resize: none;
        }

        button{
            background-color: $yellow;
            color: $black;
            border: 1px solid $black;

            &:hover,
            &focus {
                background-color: $blue;
                color: $white;
            }
        }
    }
}

.randomCollective {
    background-color: $yellow;
    padding: 50px 0;

    h3 {
        color: $black;
        padding-bottom: 50px;
    }

    button {
        background-color: $black;
        color: $white;

        &:hover,
        &:focus {
            background-color: $blue;
        }
    }

}