header, footer {
    background-color: $black;
    color: $white;

    nav {
        margin: 0 20px;
        padding-bottom: 50px;
    }

    h1 {
        margin: 0;
        font-size: 3.5rem;
        padding-bottom: 25px;
    }

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            padding: 20px 2.5px;
        }
    }

    a {
        color: $yellow;
        padding: 5px;

        &:hover, 
        &:focus {
            color: $blue;
            background-color: $white;
        }
    }
}

footer {
    padding: 15px 0;
}