.modal {
    color: $blue;
    position: absolute;
    right: -2.5%;
    border: 2px solid $black;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    button {
        width: 100px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        color: $white;
        background-color: $black;
        font-size: 1.6rem;
        cursor: pointer;

        &:first-of-type {
            color: $white;
            background: $blue;
        }
    }

    p {
        text-align: center !important;
    }
}



