.modal {
    color: $blue;
    position: absolute;
    right: -3%;

    button {
        min-width: 100px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        color: $white;
        background-color: $black;
        font-size: 1.6rem;
        cursor: pointer;
    }

    p {
        text-align: center !important;
    }
}



